// SCSS Column Eqaution | http://hail2u.mit-license.org/2012
$column: 60px !default;
$gutter: ($column / 3) !default;
$gap:    ($gutter / 2);

$colspan: ();
$colwrap: ();

@for $i from 1 through 16 {
  $w: (($column + $gutter) * $i - $gutter);
  $colspan: append($colspan, $w);
  $colwrap: append($colwrap, ($gap + $w + $gap));
}

$colspan1:  nth($colspan,  1);
$colspan2:  nth($colspan,  2);
$colspan3:  nth($colspan,  3);
$colspan4:  nth($colspan,  4);
$colspan5:  nth($colspan,  5);
$colspan6:  nth($colspan,  6);
$colspan7:  nth($colspan,  7);
$colspan8:  nth($colspan,  8);
$colspan9:  nth($colspan,  9);
$colspan10: nth($colspan, 10);
$colspan11: nth($colspan, 11);
$colspan12: nth($colspan, 12);
$colspan13: nth($colspan, 13);
$colspan14: nth($colspan, 14);
$colspan15: nth($colspan, 15);
$colspan16: nth($colspan, 16);

$colwrap1:  nth($colwrap,  1);
$colwrap2:  nth($colwrap,  2);
$colwrap3:  nth($colwrap,  3);
$colwrap4:  nth($colwrap,  4);
$colwrap5:  nth($colwrap,  5);
$colwrap6:  nth($colwrap,  6);
$colwrap7:  nth($colwrap,  7);
$colwrap8:  nth($colwrap,  8);
$colwrap9:  nth($colwrap,  9);
$colwrap10: nth($colwrap, 10);
$colwrap11: nth($colwrap, 11);
$colwrap12: nth($colwrap, 12);
$colwrap13: nth($colwrap, 13);
$colwrap14: nth($colwrap, 14);
$colwrap15: nth($colwrap, 15);
$colwrap16: nth($colwrap, 16);
