@import "../sce.scss";

$colnum: 12;

.sce-wrapper {
  width: nth($colwrap, $colnum);
}

@for $i from 1 through $colnum {
  .sce-#{$i} {
    float: left;
    margin-left: $gap;
    margin-right: $gap;
    width: nth($colspan, $i);
  }
}
