$sce_column: 3.5em;
$sce_gutter: 1em;

@import "../sce";

$colnum: 12;

.sce-wrapper {
  width: nth($sce_colwrap, $colnum);
}

@for $i from 1 through $colnum {
  .sce-#{$i} {
    float: left;
    margin-left: $sce_gap;
    margin-right: $sce_gap;
    width: nth($sce_colspan, $i);
  }
}

body {
  font-size: 87.5%;

  @media screen and (min-width: 45em) {
    font-size: 100%;
  }

  @media screen and (min-width: 75em) {
    font-size: 112.5%;
  }

  @media screen and (min-width: 105em) {
    font-size: 131.25%;
  }
}
