$column: 4.25%;
$gutter: 2%;

@import "../sce.scss";

$colnum: 16;

.scs-wrapper {
  width: nth($colwrap, $colnum);
}

@for $i from 1 through $colnum {
  .scs-#{$i} {
    float: left;
    margin-left: $gap;
    margin-right: $gap;
    width: nth($colspan, $i);
  }
}
