h1 {
  font-family: "Palatino", "Palatino Linotype", serif;
  font-style: italic;
  text-align: center }
.wrapper {
  background-color: #069;
  margin-left: auto;
  margin-right: auto;
  zoom:1 }
  .wrapper::before,
  .wrapper::after {
    content: "";
    display: table }
  .wrapper::after {
    clear: both }
.column{
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #39c;
  color: white;
  line-height: 3;
  text-align: center }
  .column code {
    font-family: "Monaco", "Consolas", monospace;
    font-size: 1em }
